# Database Configuration
DATABASE_URL=postgresql://postgres:DRd9s7exHG4Cpxm5@db.xzdyhcilqupagqvnplky.supabase.co:5432/postgres/rbac_db
# For development, you can use SQLite:
# DATABASE_URL=sqlite:///./rbac.db


# JWT Configuration
SECRET_KEY="f$0diw&-4q6obw+-e@n=%$-z4o#lqx@5s_^c&^k=6-##5%*q8&"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Application Configuration
DEBUG=True
API_V1_STR=/api/v1
PROJECT_NAME=RBAC System

# CORS Configuration
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8080"]

# Admin Configuration
FIRST_ADMIN_EMAIL=admin@example.com
FIRST_ADMIN_PASSWORD=admin123 